@import url("'https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap'");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

header {
  text-align: center;
  padding: 2rem;
  margin: 0;
  background-color: rgb(71, 246, 255);
  color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h3 {
  display: flex;
  align-items: center;
}

h3 > i {
  margin-right: 0.3rem;
}

a {
  text-decoration: none;
  color: rgb(114, 214, 250);
}

a:hover {
  filter: brightness(80%);
}

.card {
  border-radius: 0.1rem;
  margin: 1rem;
  box-shadow: grey 0.5rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  background-color: rgb(43, 20, 220);
  color: white;
  padding: 0.5rem;
}

.card-body {
  background-color: lightgray;
}

ul {
  margin: 4rem 1rem;
}

li {
  list-style: none;
  border: 0.1rem black solid;
  padding: 0.8rem 0.8rem 0.8rem 1rem;
  background-color: white;
}

li:first-child {
  border-bottom: 0;
  border-radius: 0.1rem 0.1rem 0 0;
}

li:last-child {
  border-top: 0;
  border-radius: 0 0 0.1rem 0.1rem;
}